body {
    background-color: black;
}
.images {
    width: 500px;
    height: 650px;
    padding: 5px;
    display: inline-block;
}

img {
    display: inline-block;


}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}
